
/*-----------------Start of Body background image--------------*/
body{
    
  background-color: #5f42ff;
  
}
#particles-js{
  height: 100vh;
}


/*-----------------End of Body background image--------------*/

/* --------Start of header area--------- */

.navbar-brand{
    color: #edf2f4 !important;
    background-color: #2a2a72;
    padding: 0px 15px 0px 10px;
    
}
.navbar{
  width: 960px;
  margin: 0px auto;
  border-radius: 5px;
  border-top: 2px solid #5f42ff;
}




.Sitem li a{
    
    font-size: 13px;
    text-transform: capitalize;
    
    text-decoration: none;
    display: block;
    
    
    
}

.active a{
    background: #5f42ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #5f42ff;
    background-clip: text;
}

.Sitem li a:hover{
    background: #2a2a72;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

ul a:hover {
     background-color: #2a2a72;
     transform: scale(1.1);
     transition: transform .4s ease;
     
   }  




/* --------End of header area--------- */

.para-2{
    margin-top: -30px;
}


.about-area{

    margin: 10px 0px 0px 0px;
}

.title-area{
    margin: 10px;
}

/*-----------------Start of portfolio page styling--------------*/

.work {
    position: relative;
    float: left;
    margin-bottom: -100px;
 }

.work img {
        width: 100%;
        height: 55%;
        border: 5px solid #ccc;
        border-radius: 10px;
        
       }

.work h3 {
       position: relative;
       bottom: 100px;
       width: 100%;
       padding: 0px 0px 5px 0px;
       margin-top: 15px;
       color: white;
       text-align: center;
       background: #5f42ff ;
       opacity: 0.8; 
       font-size: medium;
       border-radius: 4px;
      }

      input[type=text],textarea {
        width: 100%;
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 6px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #5f42ff;
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px;
      }
      
      input[type=submit]:hover {
        background-color: #2a2a72;
      }

      .work a{
          color: white;
          text-decoration: none;
          font-size: 20px;
      }

      /*-----------------End of portfolio page styling--------------*/

  
      /* Style the buttons */
      .btn1 {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: white;
        cursor: pointer;
      }
      
      .btn1:hover {
        background-color: #ddd;
      }
      
      .btn1.active {
        background-color: #5f42ff;
        color: white;
      }

      .modal{
        width: 200px;
        height: 200px;
      }

      #myModal{
        width: 100%;
        height: 53%;
      }

     .card-text{
       line-height: 1.2;
       font-size: smaller;
     }

     .project-modal{
       color: #5f42ff;
     }

     #myModal{
      
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* spacing as needed */
  padding: 20px 50px 20px 20px;

  /* let it scroll */
  overflow: auto;
  
     }

     #myModal1{
      
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    
      /* spacing as needed */
      padding: 20px 50px 20px 20px;
    
      /* let it scroll */
      overflow: auto;
      
         }

         #myModal2{
      
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        
          /* spacing as needed */
          padding: 20px 50px 20px 20px;
        
          /* let it scroll */
          overflow: auto;
          
             }

             #myModal3{
      
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            
              /* spacing as needed */
              padding: 20px 50px 20px 20px;
            
              /* let it scroll */
              overflow: auto;
              
                 }

                 #myModal4{
      
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                
                  /* spacing as needed */
                  padding: 20px 50px 20px 20px;
                
                  /* let it scroll */
                  overflow: auto;
                  
                     }

                 #myModal5{
      
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                
                  /* spacing as needed */
                  padding: 20px 50px 20px 20px;
                
                  /* let it scroll */
                  overflow: auto;
                  
                     }

     .tech-name{
      background-color: #5b6467;

       color: white;
       border-radius: 5px;
       border: 1px solid #000000;
 
     }

     .fa-github{
       color: #5b6467;
     }
     .fa-github:hover{
       color: silver;
     }

     .fa-globe{
      color: #5b6467;
    }
    .fa-globe:hover{
      color: silver;
    }

    .info{
      background-color: white;
      color: black !important;
      border-radius: 5px;
      font-size: medium !important;
    }

    .info:hover{
      color: #5f42ff !important;
    }

     

     